<a class="navbar-brand mb-0" href="/ui/">
    {{ SITE_TITLE }}
</a>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/ui/">
            {% trans %}Hydrometers{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ui_fermentations_list') }}">
            {% trans %}Fermentations{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('ui_datapoints_list') }}">
            {% trans %}Datapoints{% endtrans %}
            </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if app.user %}
        <li class="navbar-text text-muted mr-3">
            {% trans %}User{% endtrans %}:
            {{ app.user.getUsername }}
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/ui/settings">
            {% trans %}Settings{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/auth/logout">
            {% trans %}Logout{% endtrans %}
            </a>
        </li>
    </ul>
</div>
