<a class="navbar-brand mb-0" href="/">
    {{ SITE_TITLE }}
</a>

<div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-0">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('static-page', {'static': 'about'}) }}">
            {% trans %}About{% endtrans%}
        </a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto mr-0">
        <li class="nav-item mr-2">
            <a class="nav-link btn btn-primary" href="/auth">
            {% trans %}Sign in{% endtrans%}
        </a>
        </li>
    </ul>
</div>
