<?php

$fileHeaderComment = <<<COMMENT
This file is part of the hydrometer public server project.

@author Clemens Krack <info@clemenskrack.com>
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . DIRECTORY_SEPARATOR . 'tests')
    ->in(__DIR__ . DIRECTORY_SEPARATOR . 'src')
;

$rules = [
    '@Symfony' => true,
    '@Symfony:risky' => true,
    '@DoctrineAnnotation' => true,
    'phpdoc_no_empty_return' => false,
    'array_syntax' => ['syntax' => 'short'],
    'ordered_imports' => true,
    'yoda_style' => false,
#    'declare_strict_types' => true,
];

$rules['increment_style'] = ['style' => 'post'];

return PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRules($rules)
    ->setFinder($finder);
