{% extends "layouts/public.html.twig" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="alert alert-danger" role="alert">
        <h1 class="display-3 alert-heading">
            There was a problem
        </h1>
    {% if defined msg %}
        <p class="lead">
            {{ msg }}
        </p>
    {% else %}
        <p class="lead">
            We could not complete your login.
        </p>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
