{% extends "layouts/public.html.twig" %}
{% block content %}

<div class="jumbotron jumbotron-fluid ">
  <div class="container">
    <div class="alert alert-success">
        <h1 class="display-3 alert-heading">
            Welcome back!
        </h1>
        <p class="lead">
            Nice to see you again
        </p>
    </div>
    <hr class="my-4">
    <a href="/ui/" class="btn btn-primary">
        Go to your hydrometers
    </a>
  </div>
</div>
{% endblock %}
