{% extends "layouts/index.html.twig" %}
{% block content %}

<h1 class="mt-4 mb-3">
    {% trans %}Edit fermentation{% endtrans %}
</h1>
<hr class="mb-3">

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {attr: {class: 'mt-4 mb-3 col-8'} }) }}
    {{ form_widget(form) }}
    <p class="form-text text-warning">
        {% trans %}
            All datapoints of the selected hydrometer in the defined timeframe, that are not yet part of a fermentation, will be added to the new fermentation.
        {% endtrans %}
    </p>
    <input type="submit" class="btn btn-primary" value="{% trans %}Edit{% endtrans %}" />
{{ form_end(form) }}

{% endblock %}
