{% extends "layouts/public.html.twig" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">
        {% trans %}About{% endtrans %}
    </h1>
    <p class="lead">
       {% trans %}You own an electronic hydrometer, such as TILT or the open-source iSpindle?{% endtrans %}
        <br>
       {% trans %}Monitor your fermentations in an easy to use online interface!{% endtrans %}
    </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg ml-auto mr-0" href="/auth" role="button">
        {% trans %}Sign in{% endtrans %}
    </a>
  </div>
</div>
{% endblock %}
