{% extends "layouts/index.html.twig" %}
{% block title %}
    {% trans %}Sorry{% endtrans %}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">
        {% trans %}Sorry, an error occured during your request.{% endtrans%}
    </p>
  </div>
</div>
{% endblock %}
