{% extends "layouts/index.html.twig" %}
{% block title %}
    {% trans %}Delete datapoint{% endtrans %}
{% endblock %}

{% block content %}

<h1 class="mt-4 mb-3">
    {% trans %}Delete datapoint{% endtrans %}
</h1>
<hr class="mb-3">

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {attr: {class: 'mt-4 mb-3 col-8'} }) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Delete" />
{{ form_end(form) }}

{% endblock %}
